spring:
  application:
    name: juha
  datasource:
    url: jdbc:h2:mem:testdb
  jpa:
    show-sql: true
  h2:
    console:
      enabled: true
      path: /admin

logging:
  level:
    root: INFO

server:
  port: 8081
